# Virtual Environment
venv/
ENV/
env/
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# OS Files
Thumbs.db
Desktop.ini
.DS_Store
